<!DOCTYPE html>
<html>
  <head>
    <title>RoboTimeRailsProject</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1>RoboTime Clock</h1>
    <h3>Keep track of your robotics teams work-time and tasks.</h3>
    <p class="notice"><%= notice %></p>

    <% if current_user %>
      <p>You are logged in as <%= current_user.email %> <br>
        <%= link_to("Sign Out", destroy_user_session_path, :method => 'delete') %></p>
    <% else %>
      <p> Please <%=link_to "Sign In", new_user_session_url %> or <%=link_to "Sign Up", new_user_registration_url %> or <%= link_to "Sign in with Github", user_github_omniauth_authorize_path %> to start tracking your RoboTime</p>
    <% end %>
    <%= yield %>
  </body>
</html>
